<div class="row" ng-controller="DeleteController" >
	<div class="col-md-12">
		<h3>
			Easy Secured Mobile Access - <b>Delete</b>
		</h3>
		<h4>
			<p>
				<i>Please fill the following form application:</i>
			</p>
		</h4>
	
		<form class="form-horizontal" ng-show="showModal" action="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Please Waiting  </h3>
				</div>
				<div class="panel-body">
					<div  close="cancel()" >
						
						<div class="modal-body">
							<h4>{{status}}</h4>
							<div class="progress progress-striped active">
	    							<div class="progress-bar"   aria-valuenow="{{getPercentage()}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': progress + '%' }">
			    					</div>
							</div>
							
	
							
						</div>
						
					</div>
				</div>
			</div>
		</form>
	 
		<form class="form-horizontal" ng-show="!showModal" action="">
			<div class="panel panel-default">
				<div class="panel-heading">Parameters</div>

				<div class="panel-body">

					<div class="row col-sm-20" style="padding: 15px 15px 15px 15px;">
						<div class="form-group" style="padding: 15px 15px 15px 15px;">
							<label for="autoElasticity" class="col-sm-6 control-label"
								style="text-align: left;">Remove Auto Elasticity :</label>
							<div class="col-sm-1" style="text-align: left;">
								<input type="checkbox" ng-model="autoElasticity"
									ng-checked="parameters.options.autoElasticity == 'True'"
									class="form-control" name="autoElasticity" id="autoElasticity">
							</div>
						</div>

						<div class="form-group" style="padding: 15px 15px 15px 15px;">
							<label for="highResiliency" class="col-sm-6 control-label"
								style="text-align: left;">Remove High Resiliency :</label>
							<div class="col-sm-1" style="text-align: left;">
								<input type="checkbox" ng-model="highResiliency"
									ng-checked="parameters.options.highResiliency == 'True'"
									class="form-control" name="highResiliency" id="highResiliency">
							</div>
						</div>
						<div class="form-group" style="padding: 15px 15px 15px 15px;">
							<label for="advancedParam" class="col-sm-6 control-label"
								style="text-align: left;">Remove Advanced Service Usage
								Monitoring :</label>
							<div class="col-sm-1" style="text-align: left;">
								<input type="checkbox" ng-model="advancedParam"
									ng-checked="parameters.options.advancedParam == 'True'"
									class="form-control" name="advancedParam" id="advancedParam">
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-8 col-lg-10">
								<button type="submit" type="button"
									class="btn btn-warning  btn-lg" 
									ng-click="deleteSubmit()"
									ng-disabled="submitButtonDisabled">Confirm</button>
							</div>


						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>
