<div class="row" ng-controller="ModifyController">
	<div class="col-md-12">
		<h3>
			Easy Secured Mobile Access - <b>Modification</b>
		</h3>
		<h4>
			<p>
				<i>Please fill the following form application:</i>
			</p>
		</h4>

		<form class="form-horizontal" ng-show="showModal" action="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Please Waiting  </h3>
				</div>
				<div class="panel-body">
					<div  close="cancel()" >
						
						<div class="modal-body">
							<h4>{{status}}</h4>
							<div class="progress progress-striped active">
	    							<div class="progress-bar"   aria-valuenow="{{getPercentage()}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': progress + '%' }">
			    					</div>
							</div>
							
	
							
						</div>
						
					</div>
				</div>
			</div>
		</form>
		<form class="form-horizontal" ng-show="!showModal" role="form"
			action="">	
			<div class="row col-sm-20" style="padding: 5px 15px 5px 15px;">
			
				<div class="panel panel-default " style="padding: 5px 5px 5px 5px;">
					<div class="panel-heading">Parameters</div>

					<div class="panel-body">

						<!--<form class="form-horizontal" role="form">-->
						<div class="form-group">
							<label for="poolIpClient" class="col-sm-6 control-label "
								style="text-align: left;">Pool IP Addresses :</label>
							<div class="col-sm-4">
								<input type="text" disabled="disabled"
									ng-model="parameters.poolIpClient" class="form-control"
									name="poolIpClient" id="poolIpClient">
							</div>
						</div>
						<div class="form-group">
							<label for="netmask" class="col-sm-6 control-label"
								style="text-align: left;">Netmask :</label>
							<div class="col-sm-4">
								<input type="text" disabled="disabled"
									ng-model="parameters.netmask" class="form-control"
									name="netmask" id="netmask">
							</div>
						</div>
						<div class="form-group">
							<label for="vpnIP" class="col-sm-6 control-label"
								style="text-align: left;">VPN Concentrator IP Addresses
								:</label>
							<div class="col-sm-4">
								<input type="text" disabled="disabled"
									ng-model="parameters.vpnIpAddress" class="form-control"
									name="vpnIP" id="vpnIP">
							</div>
						</div>
						<div class="form-group">
							<label for="orangeDNS" class="col-sm-6 control-label"
								style="text-align: left;">Orange DNS :</label>
							<div class="col-sm-1" style="text-align: left;">
								<input type="checkbox" disabled="disabled"
									ng-model="useOrangeDns"
									ng-checked="parameters.useOrangeDns == 'True'"
									class="form-control" name="orangeDNS"
									ng-change="stateOrangeDNSChanged()" id="orangeDNS">
							</div>
						</div>
						<div class="panel panel-default col-sm-15" ng-show="!useOrangeDns"
							style="padding: 5px 5px 5px 5px;">
							<div class="panel-heading">DNS parameters</div>

							<div class="panel-body">
								<div class="form-group" ng-show="!useOrangeDns">
									<label for="primaryDNS" class="col-sm-5 control-label"
										style="text-align: left;">Primary DNS:</label>
									<div class="col-sm-5">
										<input type="text" disabled="disabled"
											ng-model="parameters.primaryDNS" class="form-control"
											name="primaryDNS" id="primaryDNS">
									</div>

								</div>
								<div class="form-group" ng-show="!useOrangeDns">
									<label for="secDNS" class="col-sm-5 control-label"
										style="text-align: left;">Secondary DNS :</label>
									<div class="col-sm-5">
										<input type="text" disabled="disabled"
											ng-model="parameters.secondaryDNS" class="form-control"
											name="secDNS" id="secDNS">
									</div>
								</div>

							</div>
						</div>
						<div class="col-lg-offset-10 ">
							<button type="submit" class="btn btn-warning  btn-lg"
								ng-click="modifySubmit()" ng-disabled="submitButtonDisabled">
								Submit</button>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Improve Qos of your network</div>

					<div class="panel-body">
						<div class="form-group" style="padding: 5px 15px 5px 15px;">
							<label for="autoElasticity" class="col-sm-6 control-label"
								style="text-align: left;">Auto Elasticity :</label>
							<div class="col-sm-1" disabled="disabled"
								style="text-align: left;">
								<input type="checkbox" disabled="disabled"
									ng-model="autoElasticity"
									ng-checked="parameters.options.autoElasticity == 'True'"
									class="form-control" name="autoElasticity" id="autoElasticity">
							</div>
						</div>

						<div class="form-group" style="padding: 5px 15px 5px 15px;">
							<label for="highResiliency" class="col-sm-6 control-label"
								style="text-align: left;">High Resiliency :</label>
							<div class="col-sm-1" style="text-align: left;">
								<input type="checkbox" disabled="disabled"
									ng-model="highResiliency"
									ng-checked="parameters.options.highResiliency == 'True'"
									class="form-control" name="highResiliency" id="highResiliency">
							</div>
						</div>
						<div class="form-group col-lg-offset-6"
							style="padding: 5px 15px 5px 15px;">
							<label for="advancedParam" class="col-sm-6 control-label"
								style="text-align: left;">Boost Button for planned
								events (manual scale out) :</label>
							<button type="submit" class="btn btn-warning  btn-lg"
								ng-click="boostSubmit()" ng-disabled="submitButtonDisabled">Boost</button>
						</div>
						<div class="form-group" style="padding: 5px 15px 5px 15px;">
							<div class="col-lg-offset-10 ">


								<button type="submit" class="btn btn-warning  btn-lg "
									ng-click="modifySubmit()" ng-disabled="submitButtonDisabled">
									Submit</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">monitor the usage of your network</div>
					<div class="panel-body">
						<div class="form-group" style="padding: 15px 15px 15px 15px;">
							<label for="advancedParam" class="col-sm-6 control-label"
								style="text-align: left;">Advanced Service Usage
								Monitoring :</label>
							<div class="col-sm-1" disabled="disabled"
								style="text-align: left;">
								<input type="checkbox" ng-model="advancedParam"
									ng-checked="parameters.options.advancedParam == 'True'"
									class="form-control" name="advancedParam" id="advancedParam">
							</div>
						</div>
						<label for="alertProgramming" class="col-sm-6 control-label"
							style="text-align: left;">Advanced Service Usage
							Monitoring :</label>
						<div class="col-sm-1" disabled="disabled"
							style="text-align: left;">
							<input type="checkbox" ng-model="alertProgramming"
								class="form-control" name="alertProgramming"
								id="alertProgramming">
						</div>
					</div>
					<div class="form-group" style="padding: 5px 15px 5px 15px;">
						<div class="col-lg-offset-10 ">

							<button type="submit" class="btn btn-warning  btn-lg"
								ng-click="modifySubmit()" ng-disabled="submitButtonDisabled">
								Submit</button>
						</div>
					</div>
				</div>







				<!--                                    </form>-->
			</div>



		</form>
	</div>
</div>

