<div class="row">
    <div class="col-md-12">
	<h2>Cloud4net - Portal</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2  hidden-xs">
    <p>
     <a href="#"><img src="/img/orange.png" class="giant"  title="Orange Labs"/></a>&#160;
     <a href="#"><img src="/img/nokia.jpeg" class="giant"  title="Nokia"/></a>&#160;
     <a href="#"><img src="/img/cisco.png" class="giant"  title="Cisco"/></a>&#160;
	</p>

	
    </div>

    <div class="col-md-9 col-lg-10">
	<p> <h2>Offer <h1>TO BE DEFINED<h1> </h2></p>
	<p>
				<a href="#"><img src="/img/architecture.png" class="giant"  title="Architecture Platform"/></a>&#160;
	<p>	
	<p>
	&#160;
	    <a href="http://projects.spring.io/spring-framework/"><img src="/img/spring-logo.png" class="giant" alt="Spring Framework" title="Spring Framework"/>
	    </a>&#160;
	    <a href="http://projects.spring.io/spring-boot/"><img src="/img/spring-boot-logo.png" class="giant" alt="Spring Boot" title="Spring Boot"/></a>&#160;
	
	</p>
	</div>
</div>

